
:root{
    --background-color: #F5E1F1;
    --footer-color: #700037;
    --accent-color: #FF00BF;
    --accent-color-soft: #FFA3DF;
    --contrast-color: #FFF172;
    --contrast-color-soft:#FFFBB8;


}