
:root{
    --background-color: #f8f4ff;
    --footer-color: #FF45D0;
    --accent-color: #FF00BF;
    --accent-color-soft: #FFA3DF;
    --contrast-color: #FFF172;
    --contrast-color-soft:#FFFBB8;


}