
:root{
    --blur-color: #bdbdbd0f;
    --background-color: #f8f4ff;
    --footer-color: #700037;
    --accent-color: #FF00BF;
    --accent-color-soft: #FFA3DF;
    --contrast-color: #FFF172;
    --contrast-color-soft:#FFFBB8;


}