@import "colors.css";

::backdrop {
    background-color: rgba(0, 0, 0, 0.321);
    opacity: 0.75;
  }

dialog{
    border-radius: 16px;
    border: none;
    box-shadow: 5px 5px 9px 4px #00000069;
    padding:20px;
    
    max-width: 600px;
}

dialog .actions{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

button{
    background-color: var(--accent-color);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: auto;
    font-size: 20px;
    align-self: center;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
}

#js-close{
    background-color: grey;
}
#js-close-create{
    background-color: grey;
}

#deleteBtn{
    background-color: rgb(255, 64, 64);
    
    padding: 16px 24px !important;
}

#create-btn{
    position: absolute;
    bottom: 80px;
    right: 40px;
    border-radius: 16px;
    font-size: 30px;
    border:none;
    display: flex;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    .material-icons{
        color: var(--accent-color);
        font-size: 32px;
    }
}

.elevated{
    box-shadow: 5px 4px 8px 0px #00000069;
}