@import "colors.css";

header {
    background-color: var(--footer-color);
    color: #ffffff;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 1.5rem;
    font-size: 20px;
    box-shadow: 5px 4px 8px 0px #00000069;
}