@import "colors.css";

header {
    background-color: var(--footer-color);
    color: #000000;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 1rem;
    font-size: 36px;
    box-shadow: 5px 4px 8px 0px #00000069;
    text-align: center;
    font-style: italic;
    font-weight: bold;    
}

