.intestazione{
    font-weight: bold;
    font-style: italic;
    font-size: 26px;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: 10px;
    text-align: center;
    border-radius: 16px;
    padding: 10px;
    box-shadow: 5px 4px 8px 0px #00000069;
    background: #ffa3df59;
}

h2{
    padding: 10px 15px; 
    box-shadow: 5px 4px 8px 0px #00000069;
    background: #ffa3df59;
    border-radius: 16px; 
    margin-bottom: 15px; 
    margin-right: 10px;
}

.tit{
    /*font-weight: bold;*/
    font-size: 22px;
    padding: 10px 15px; 
    box-shadow: 5px 4px 8px 0px #00000069;
    background: #ffa3df59;
    border-radius: 16px; 
    margin-bottom: 15px; 
    /* display: inline-block; /* Mantiene il background stretto al contenuto */
    display: flex;
    max-width: min-content;
}

.gif-container {
    text-align: center;
    margin: 20px 0;
}

.gif-container img {
    max-width: 30%;
    height: auto;
    border-radius: 10px; 
}

.main-content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


p{
    font-size: 16px;
    margin: 10px;
}

.tastor{
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    margin: 4px;
    border-radius: 16px;
    padding: 4px;
    appearance: auto;
    user-select: none;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    white-space: pre;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}

.material-icons{
    font-size: 30px;
    margin: 5px;
}

.polaroid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.polaroid {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.polaroid:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.polaroid .color-box {
    width: 100%;
    height: 130px;
    margin-bottom: 10px;
}
.polaroid p {
    margin: 5px 0;
}

.tool-card {
    background-color: rgb(255, 245, 252);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex: 1 1 200px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.tool-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.tool-icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--accent-color);
}
.tool-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.tool-description {
    font-size: 14px;
    color: #555;
}
.tool-link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s;
}
.tool-link:hover {
    text-decoration: underline;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.site-structure {
    padding: 40px 20px;
}

.article-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.site-feature,
.sidebar-navigation {
    width: calc(33% - 20px);
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: default;
}

.site-feature:hover,
.sidebar-navigation:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.site-feature p,
.sidebar-navigation p {
    font-size: 16px;
    color: #666;
}

.feature-icon {
    background-color: #ffa3df59; 
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-icon i {
    font-size: 40px;
    color: #555; /* Grigio scuro */
}

.feature-content {
    padding-left: 10px; /* Spazio tra icona e testo */
}
