.intestazione{
    font-weight: bold;
    font-size: 32px;
    margin-top: 0px !important;
    margin-bottom: 30px;
    text-align: center;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.testodomanda{
    border: 3px solid var(--accent-color);
    font-size: 24px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 5px 4px 8px 0px #00000069;
    background: #ff00bf5c;
}

.domanda{
    margin-bottom: 80px;
}

.risposte{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
    column-gap: 10px;
    border-radius: 16px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px;
}

p{
    padding: 30px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 5px;
    border-radius: 16px;
    border: 3px solid var(--accent-color-soft);
    box-shadow: 5px 4px 8px 0px #00000069;
    background: #ffa3df59;
}
