.nav-item{
    padding:1em;
    border-radius: 16px;
    display: flex;
    vertical-align: middle;
    color: blueviolet;
}

.nav-item a{
    font-size: 24px;
    text-decoration: none;
    color: blueviolet;
}

.nav-item .material-icons{
    margin-right: 0.5em;
    font-size: 30px;
}

.active{
    background-color: aquamarine;
}