.nav-item{
    padding:1em;
    border-radius: 16px;
    display: flex;
    vertical-align: middle;
}

.nav-item a{
    font-size: 24px;
    text-decoration: none;
    color: #FFFBB8;
}

.nav-item .material-icons{
    
    font-size: 30px;
}

.active{
    background-color: #F400A1;
}