.nav-item{
    padding:1em;
    border-radius: 16px;
    display: flex;
    vertical-align: middle;
    color: #4A4A4A;
}

.nav-item a{
    font-size: 24px;
    text-decoration: none;
    color: #4A4A4A;
}

.nav-item .material-icons{
    margin-right: 0.5em;
    font-size: 30px;
}

.active a{
    color: var(--accent-color) !important;
}

.active .material-icons{
    color: var(--accent-color) !important;
}

.nav-item:hover{
    background-color: var(--contrast-color);
}

.nav-item:hover a{
    color: var(--accent-color);
}

.nav-item:hover .material-icons{
    color: var(--accent-color);
}