@import "colors.css";
@import "scrollbar.css";
@import "table.css";
@import "input.css";
@import "sidemenu.css";


@font-face {
    font-family: 'Tisa Sans Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Tisa Sans Pro Regular'), url('Tisa.woff') format('woff');
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Tisa Sans Pro Regular';
    font-weight: normal;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

#filter {
    flex-grow: 1;
    overflow: auto;
}

.content {
    flex: auto;
    width: max-content;
    overflow-y: scroll;
    border-radius: 16px;
    padding: 16px 0px 16px 16px;
    margin: 10px;
    box-shadow: 5px 4px 8px 0px #00000069;
    background-color: white;
}