@import "colors.css";
@import "scrollbar.css";
@import "table.css";

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

header {
    background-color: var(--footer-color);
    color: #ffffff;
    border-radius: 16px;
    margin: 16px;
    padding: 1.5rem;
    font-size: 20px;
}

main {
    flex:auto;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.side-menu{
    flex:auto;
    width: min-content;
    max-width: 300px;
    border: 2px solid #000;
    margin: 16px;
    border-radius: 16px;
    padding: 1em;
    
    overflow-y: scroll;
}

#filter{
    
}

.content{
    flex: auto;
    width: max-content;
    overflow-y: scroll;
}

