@import "colors.css";
@import "scrollbar.css";
@import "table.css";
@import "input.css";


@font-face {
    font-family: 'Tisa Sans Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Tisa Sans Pro Regular'), url('Tisa.woff') format('woff');
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Tisa Sans Pro Regular';
    font-weight: normal;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.side-menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: min-content;
    max-width: 300px;
    padding: 1em;
    border-radius: 16px;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 4px 8px 0px #00000069;
    background-color: white;

    @media screen and (max-width: 600px) {
        width: 0;
        display: none;
    }
}

#toggler-side-menu {
    border-radius: 40px;
    background-color: white;
    height: 40px;
    width: 40px;
    box-shadow: 5px 4px 8px 0px #00000069;
    position: fixed;
    top: 50%;
    display: none;

    @media screen and (max-width: 600px) {
        display: block;
    }
    .container {
        display: inline-flex;
        vertical-align: middle;

    }
}


.side-menu hr {
    margin: 20px 10px;
    height: 2px;
    background-color: var(--accent-color);
    border: none;
}

#filter {
    flex-grow: 1;
    overflow: auto;
}

.content {
    flex: auto;
    width: max-content;
    overflow-y: scroll;
}