@import "colors.css";

table {
    width: 100%;
    border-collapse: collapse;
}

table thead{
    position: sticky;
    top:0;
    background-color: var(--accent-color);
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tbody tr{
    background-color: #ffe0ef;
}

tbody tr:hover{
    border: 2px solid salmon;
}

tbody tr:nth-child(even) {
    background-color: #ffe4f9;
}
