@import "colors.css";

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

table thead{
    position: sticky;
    top:0;
    font-size: 24px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
    border-radius: 16px;
}

thead tr th{
    background-color: #F5B5F5;
}

td, th{
    text-align: left;
    padding: 8px;
}

tbody tr{
    background-color: #f2d7f2;
    transition: cubic-bezier(0.01, 0.25, 0.72, 0.84) 0.5s;
    cursor: pointer;
}

tbody tr:nth-child(even) {
    background-color: #ffe4ff;
}

tbody tr:hover{
    background-color: var(--contrast-color-soft) !important;    
}

