@import "colors.css";

.table-wrapper{
    height: 100%;
    overflow-y: scroll;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 16px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 16px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
    border-bottom-left-radius: 16px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
    border-bottom-right-radius: 16px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    font-size: 20px;
    border-radius: 16px;
    overflow: hidden;
}

table thead {
    position: sticky;
    top: 0;
    font-size: 24px;
}

thead tr th {
    background-color: #F5B5F5;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px;
}

thead tr {
    background-color: white !important;
}

td,
th {
    text-align: left;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

td a{
    color: var(--accent-color);
    text-decoration: underline;
}

tbody tr {
    background-color: #f2d7f2;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

tbody tr:nth-child(even) {
    background-color: #ffe4ff;
}

tbody .selectable:hover {
    cursor: pointer;
    background-color: var(--contrast-color-soft) !important;
    transform: scale(1.02);
}