<link rel="stylesheet" href="/app/css/navbar.css">
<nav>
    <div class="nav-item active">
        <i class="material-icons">home</i>
        <a href="#">Home</a>
    </div>

    <div class="nav-item">
        <i class="material-icons">people</i>
        <a href="#">Utenti</a>
    </div>

    <div class="nav-item">
        <i class="material-icons">question_answer</i>
        <a href="#">Quiz</a>
    </div>

    <div class="nav-item">
        <i class="material-icons">comment</i>
        <a href="#">Partecipazioni</a>
    </div>
</nav>