<link rel="stylesheet" href="/app/css/navbar.css">
<nav>
    <a href="#">
        <div class="nav-item active">
            <i class="material-icons">home</i>
            Home
        </div>
    </a>
    <a href="#">
        <div class="nav-item">
            <i class="material-icons">people</i>
            Utenti
        </div>
    </a>
    <a href="#">
        <div class="nav-item">
            <i class="material-icons">question_answer</i>
            Quiz
        </div>
    </a>
    <a href="#">
        <div class="nav-item">
            <i class="material-icons">comment</i>
            Partecipazioni
        </div>
    </a>
</nav>